<!doctype html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@deideenl">
    <meta name="twitter:creator" content="@ACJ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="About Default.style">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://about.default.style/">
    <title>About Default.style</title>
    <link rel="author" href="https://alexanderchristiaanjacob.com/" title="Alexander Christiaan Jacob">
    <link rel="canonical" href="https://about.default.style/">
    <link rel="publisher" href="https://deidee.nl/">
    <link rel="stylesheet" href="https://default.style/">
</head>
<body id="top">
{% block content %}{% endblock %}
</body>
</html>