{% extends 'base.html.twig' %}
{% block content %}
    <h1>About Default.style</h1>
    <section id="usage">
        {% apply markdown_to_html %}
            ## Usage

            ```html
            <link href="//default.style" rel="stylesheet">
            ```
        {% endapply %}
    </section>
{% endblock %}